
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center; text-align: center;">
        <div class="navbar-center">
            <img routerLink="/bienvenida" src="https://firebasestorage.googleapis.com/v0/b/prueba1-f50d0.appspot.com/o/title.png?alt=media&amp;token=d4b68d71-05f7-40a8-b8b9-7b27cc7c0b1a" alt="V" width="100px">
        </div>
        <button (click)="togleNav()" class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" [ngStyle]="buttonStyle"></span>
        </button>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light navDown">
    <div class="collapse navbar-collapse justify-content-center" [ngStyle]="navDownStyle">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/bienvenida">Bienvenida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Iniciar sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/alta-repartidor">Alta Repartidor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listado-repartidores">Listado repartidores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listado-helados">Listado helados</a>
            </li>
        </ul>
    </div>
</nav>
