
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center; text-align: center;">
        <div class="navbar-center">
            <img routerLink="/bienvenida" src="https://firebasestorage.googleapis.com/v0/b/posible-parcial.appspot.com/o/title.png?alt=media&token=4d7d507c-8b2f-4ab2-9cbd-b3965f8b51f9" alt="V" width="100px">
        </div>
        <button (click)="togleNav()" class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" [ngStyle]="buttonStyle"></span>
        </button>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light navDown">
    <div class="collapse navbar-collapse justify-content-center" [ngStyle]="navDownStyle">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/bienvenida" [class.active]="isActiveRoute('/bienvenida')">Bienvenida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" [class.active]="isActiveRoute('/login')">Iniciar sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/alta-producto" [class.active]="isActiveRoute('/alta-producto')">Alta Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listado-productos" [class.active]="isActiveRoute('/listado-productos')">Listado Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/listado-publico" [class.active]="isActiveRoute('/listado-publico')">Listado Publico</a>
            </li>
        </ul>
    </div>
</nav>